---
// Footer component
---

<footer class="site-footer">
  <p>Images Copyrighted by Judith-Ann Saks Rosenthal from original publication.
    &nbsp;&nbsp;Web site content Copyright Lilly Rosenthal 2026.</p>
</footer>
